# Maven
**/target/

# Eclipse
**/.settings/
**/bin/
**/.project

# Flash Builder
**/.actionScriptProperties
**/.flexLibProperties
**/project-config.xml

# IntelliJ
**/.idea/
**/*.iml
**/*.iws
**/atlassian-ide-plugin.xml